body {
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-image: url("https://i.ytimg.com/vi/TCYTVu9m9is/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
div {
  border: 2px solid rgb(61, 218, 253);
  border-radius: 5px;
  width: 90%;
  height: 90%;
  border-left: 6px solid rgb(61, 218, 253);
  background-color: rgb(61, 218, 253);
  
}

#your-name {
  color: rgb(250, 6, 6);
  text-align: center;
}

input,
select {
  float: right;
}
select {
  width: 162px;
}
input[type='checkbox'], input[type='radio'] { 
    float: left;
    margin-right: 10px;
} 
input[type='submit'] { 
    float: left;
    margin: 10px 0; 
    padding: 10px 40px;
    background-color: black;
} 
input[type='submit'], fieldset, textarea { 
    border-radius: 5px; 
    background-color: black;
} 

select { 
    width: calc(100% - 4px); 
    } 
select {
  width: 162px;
}